/* Generic */
body {
  max-width: 512px;
}
/* Header */
.reel-header {
  display: flex;
  padding: 0 2rem;
  flex-wrap: wrap;
  min-height: 100px;
}

.btn_header {
  appearance: none;
  border: none;
  background: none;
  color: #ffffffb0;
  font-weight: 500;
  font-size: 1.1rem;
}
.btn_center {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.btn_icon {
  font-size: 1.6rem;
  color: #fff;
}

.btn_border {
  border-bottom: 2px solid;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  color: #fff;
}

.red_dot {
  position: absolute;
  color: rgba(255, 0, 0, 0.479);
  left: 53%;
  top: 10%;
  font-size: 40px;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  gap: 2rem;
}

.sidebar_plus {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%, -50%);
  border: solid 1px rgb(255, 48, 48);
  background-color: rgb(255, 48, 48);
  width: 25px;
  border-radius: 50%;
  font-size: 1.2rem;
}

.logo_sidebar {
  width: 60px;
  border-radius: 50%;
  border: 2px solid white;
}

.side_icons {
  font-size: 2rem;
}

/* Footer */

footer {
  background-color: black;
  min-height: 100px;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.footer_container div {
  width: 100%;
  padding-top: 1.2rem;
  color: #ffffffb0;
}
.home_color {
  color: #fff;
}
footer i {
  font-size: 1.4rem;
}

.footer_icon_description {
  font-size: 0.8rem;
}

.footer_plus {
  background-color: #fff;
  color: black;
  border-radius: 20%;
  border: solid 1px white;
  border-width: 0 10px;
  box-shadow: -4px 0 0 #7ffcfc, 4px 0 0 #eb33f9;
}

.dms_number {
  position: absolute;
  left: 70%;
  top: 15px;
  border: 1px solid rgb(255, 48, 48);
  background-color: rgb(255, 48, 48);
  color: #fff;
  height: 20px;
  width: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 10px;
}
